:root {
  --primary-cyan: hsl(193, 38%, 86%);
  --primary-neon: hsl(150, 100%, 66%);

  --secondary-blue: hsl(217, 19%, 38%);
  --secondary-dark-grayish-blue: hsl(217, 19%, 24%);
  --secondary-dark-blue: hsl(218, 23%, 16%);

  --font-default: 2.8rem;
  --font-weight: 800;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: var(--font-default);
  font-family: 'Manrope', sans-serif;
  /* font-weight: var(--font-weight); */
  background-color: var(--secondary-dark-blue);
}
